@import "reset.scss";
@import "component.scss";
@import "match.scss";

/* common */
html,body{
    height: 100%;
    font-family: 'Neuropol', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background: url(../img/bg/background_0.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.abs{
    position: absolute !important;
  }
  
  .rel{
    position: relative !important;
  }
  
  .fixed{
    position: fixed !important;
  }
  
  .alignC{
    text-align: center !important;
  }
  .alignL{
    text-align: left !important;
  }
  .alignR{
    text-align: right !important;
  }
  
  .placeC{
    margin: 0 auto;
  }
  .floatR{
    float: right
  }
  .floatL{
    float:left;
  }
  .ib{
    display: inline-block !important;
  }
  .b{
    display: block !important;
  }
  .pointer{
    cursor: pointer;
  }
  .letter-space{
    letter-spacing: .5em;
  }

  