@import "variable.scss";
@import "mixin.scss";
@import "grid.scss";
@import "shapes.scss";
@import "icon.scss";
@import "button.scss";

.content{
    height: 100%;
    color: #fff;
    .chapter{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        //padding: 20px;
        
        .header{
            height: 60px;
            text-align: right;
            color: #fff;
            padding: 20px;
            div{
                margin: 0 40px;
            }
        }
        .pageTitle{
            @include font-size(24px);
            color: #fff;
        }
        .setting{
            bottom: 2%;
            right: 2%;
        }
        .userCenter{
            bottom: 2%;
            left: 2%;
        }
    }
}

.chaperGroup{
    height: 80%;
    width: 92%;
    .chaptereach{
        @include font-size(16px);
        width: 19.6%;
        height: 80%;
        background: url('../img/base.png') no-repeat;
        .cardContainer{
            perspective: 600;
            width: 100%;
            height: 100%;
        }
        
    }

   
}

.flipper{  
    cursor: pointer;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    p:first-child{
          padding-top: 25%;
        }
    .front{
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        p{
            line-height: 20px;
        }
        }
    .back{
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        height: 100%;
        width: 100%;
        transform: rotateY(180deg);
        }
    &:hover {
        transform: rotateY(180deg);
      }
  
}
.icon-setting{
    cursor: pointer;
    background-image: url('../img/icon-setting.png');
    background-size: 100% 100%;
    width: 54px;
    height: 54px;
}

.icon-user{
    cursor: pointer;
    width:73px;
    height: 83px;
    background-image: url('../img/icon-user.png');
    background-size: 100% 100%;
}
.icon-quit{
    margin: 25px 50px 0 50px;
    cursor: pointer;
    background-image: url(../img/quit.png);
    width: 54px;
    height: 54px;
    background-size: 100% 100%;
}

.icon-tabs{
    background-image: url(../img/slotbg.png);
    width:80px;
    height: 80px;
    background-size: 100% 100%;
    margin: 0 50px;
    i{
        margin: 25px auto;
        @include font-size(24px);
        
    }
    // cursor: pointer;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.mission{
    h2.missionNum{
        @include font-size(30px);
        padding: 40px;
        line-height: 40px;
    }
    .qustion_area{
       
        margin: 5% auto 4% auto;
        width: 100%;
        [class*="teacher_icon_"]{
            vertical-align: top;
            height: max-content;
        }
        @for $i from 0 through 20{
            .teacher_icon_#{$i}{
                i{
                    width: 200px;
                    background: url(../img/teacher/teacher_#{$i}.png) no-repeat;
                    height: 200px;
                    background-size: contain;
                }
            }
        }

    }
    .question_content{
        //top:5%;//calculation required
        background: url(../img/border.png) no-repeat;
        height: 354px;//if height is over acceptable..
        padding-top: 4%;
        background-size: contain;
        .question_item{
            line-height: 50px;
            margin-left: 10%;
            text-align: left;
        }

    }
    .answer_area{
        width: 783px;
        margin: 0 auto;
        .choice_slot{
            cursor: pointer;
            .pureNum{
                @include font-size(30px);
            }
        }
    }
}

// missionList page
.missionList{
    height: 100%;
    .missionlistContainer{
        width: 50%;
        height: 100%;
        text-align: center;
       // background-image: url('../img/windowbg.png');
        h1{
         @include font-size(34px);
        }
        .missionNum{
            margin: 20px;
            @include font-size(32px);
                }
        .row{
            text-align:justify;
            [class*="col-"]{
                cursor: pointer;
                margin: 20px;
                text-align: center
            }
            
        }
    }
}

// leaderboard
.leaderboard-cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .leaderboard{
    width: 50%;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    background: white;
    color: black;
    .factor-group{
        background: gray;
        width: 100px;
        transform: translateX(-100px);
        p{
            padding:10px;
        }
    }
    }
    
}
.leadheader {
    width: 100%;
    height: 20px;
    border:1px solid rgba(0, 168, 232, 0.79);
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding-top: 20px;
    padding: 10px 0;
    i{
        padding-right: 20px;
    }
}
  
  .colheader {
   // background: rgba(254, 254, 254, 0.9);
    width: 100%;
    margin-left: 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 40px;
    h4 {
    font-size: 15px;
     }
   .time {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
         }
    .rewards {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        }
    }
  
  .users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   // background: #fefefe;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    text-align: center;
    vertical-align: center;
  .name {
   a {
    padding-top: 15px;
    vertical-align: middle;}
}
   img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    //border: 2px solid rgba(0, 168, 232, 0.79);
   // margin-right: 10px;
  }
  .rank {
    padding-left: 6px;
  }
  &:nth-of-type(odd) {
   // background: rgba(254, 254, 254, 0.9);
  }
  &:nth-of-type(even) {
    //background: rgba(240, 240, 240, 0.9);
  }
  &:last-child {
    border-radius: 0 0 5px 5px;
  }
}
  
.validContent{
    margin:10% 0;
    height: 80%;
}

// missionDone Page

.missionDone{
    background: url(../img/bg/background_0.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    .bg{
        
        /* transform: scale(.8); */
        /* transform-origin: 0 0; */
        margin: 0 auto;
    }

    .valid-content{
        height: 50%;
        width: 60%;
        @include font-size(19px);
        padding: 40px 0 0 0;
    }

    .points{
       @include font-size(21px)
    }
}

.windowsOutline{
    background: url(../img/window.png) top center no-repeat;
    width: 60%;
    z-index: 2;
    height: 80%;
    background-size: contain;
    .title{
        @include font-size(28px);
        text-align: center;
        padding: 7% 0 4% 0;
        line-height: 90px;
    }
    .points{
        @include font-size(24px);
        color: #01ffff;
    }

}
 

// drag and drop

.drag-content{
    min-height:20%;
    display: flex;
    flex-direction:initial;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.dragboxs{
    height: 40%;
    display: flex;
    justify-content: center;
    
    .dragbox{
        border: 1px solid #fff;
        box-sizing: border-box;
        margin:0 20px;
        height: 100%;
        padding: 50px 0;
        height: 100%;
        display: flex;
        justify-content: center;
        vertical-align: text-bottom;
        span{
            position: absolute;
            font-size: 50px;
            z-index: -1;
            bottom: 0;
            right: 10px;
        }
        i{
            margin: 0 5px;
        }
    }
}

// timer

.timer {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 50px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}

.Blazing {

    color: rgb(255, 115, 0);
	outline: none;
	vertical-align: middle; 
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}