.row{
    [class*="col-"]{
        display: inline-block;
    }
    @for $i from 1 through 12{
        .col-#{$i}{
            width: $i/12 * 100%;
        }
    }
   
}

.flex-v-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &.setHeight{
        height: 80%;
    }
}
.flex-v-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottomLine{
    border: 1px solid #fff;
}