//   精灵图制作

$class-prefix: "final-icon-";
$sprite-image-url: "../img/icons_sprite.png";
$sprite-grid-size: 20px;

[class*='#{$class-prefix}'] {
    display: inline-block;
    width: $sprite-grid-size;
    height: $sprite-grid-size;

    line-height: $sprite-grid-size;
    background-image: url(#{$sprite-image-url});
    background-repeat: no-repeat;
}

@mixin icon($row, $column) {
    background-position: -$column*$sprite-grid-size -$row*$sprite-grid-size;
}

@function getPosition($move, $amout, $offset) {
    @return (-$move * $amount) + $offset;
}

$icon: "name", "row", "column";

$icon-list: (
    ("rightTriangle", 0, 0)
    ("setting", 0, 1)
    ("circles", 0, 2)
    ("leftTriangle", 0, 3)
    ("add",0,4)
);

@each $eachicon in $icon-list {
    // pluck $icon variables
    $name: nth($eachicon, 1);
    $row: nth($eachicon, 2);
    $column: nth($eachicon, 3);

    // create class
    .#{$class-prefix}#{$name} {
        // style it
        @include icon($row, $column);
    }
}

.gicon-start{
    background: url(../img/buttons.png) no-repeat;
    background-position: 20px 0;
    vertical-align: center;
    width: 120px;
    height: 100px;
    right: 20%;
    bottom: 10%;
    i{
        display: inline-block;
        background: url(../img/icons_on_Buttons.png) no-repeat;
        background-position: 0 10px;
        width: 80%;
        height: 100%;
        back: 0,0;
        margin: -10px 20px;

    }
}
.gicon-pause{
    background: url(../img/buttons.png);
    background-position: 390px 0;
    vertical-align: center;
    background-origin: 0 0;
    width: 100px;
    height: 100px;
    i{
        background-position: right 400px;
        width: 100px;
        height: 100px;
        background: url(../img/icons_on_Buttons.png);

    }
}

.gicon{
    background: url(../img/buttons.png);
    background-position: 0px 0;
    vertical-align: center;
    background-origin: 0 0;
    width: 100px;
    height: 100px;
    
    &.next{
        right: 25%;
        top: 50%;
        
        i{
            display:inline-block;
            width: 100px;
            height: 100px;
            background: url(../img/icons_on_Buttons.png) no-repeat;
            background-position: right center;
            
        }
    }
    &.go{
        z-index: 99;
        right: 10%;
        bottom:5%;
        i{
            display: inline-block;
            width: 100px;
            height: 100px;
            background: url(../img/icons_on_Buttons.png) no-repeat;
            background-position: 0 76%;    
        }
    }

    &.back{
        background-position:390px 0;
        left: 15%;
        bottom: 10%;
        i{
            display: inline-block;
            width: 100px;
            height: 100px;
            background:url(../img/icons_on_Buttons.png) no-repeat;
            background-position: left;
        }

    }

}

.icon{
    &.star{
        width: 36px;
        height: 36px;
        background: url(../img/star.png) no-repeat;
    }
    &.distance{
        width: 36px;
        height: 36px;
        background: url(../img/footprints.png) no-repeat;
    }
    &.restart{
        i{
            display: inline-block;
            width: 100px;
            height: 100px;
            background: url(../img/icons_on_Buttons.png);
            background-position: -90px center;
            
        }
    }
}