#match{
  
    .showLeft{
        vertical-align: top;
    }
    .canvas{ 
        position:absolute; 
        left:0px; 
        top:0px; 
        z-index:-1;
    }
    .backcanvas{ 
        position:absolute; 
        left:0px; 
        top:0px; 
        z-index:-2;
    }
    .showItem{

        i{
            padding: 20px;
        display: inline-block;
        background: url(../img/slot.png) no-repeat;
        background-size: contain;
        background-position: 50%;
        
        }
        &.addstyle{
            i{
                background:url(../img/slot_focus.png) no-repeat;
                background-size: contain;
                background-position: 50%;
            }
        }
        
    }
}