.brackets_text{
    display: flex;
    align-items: center;
    &::before{
        content: '[';
        color: #ffb1bb;
        font-size: 20px;
        text-align: right;
        padding-right: 10px;
    }
    &::after{
        content: ']';
        color: hsl(352, 100%, 85%);
        font-size: 20px;
        text-align: left;
        padding-left: 10px;
    }
}

.round-border{
    border: 1px solid wheat;
    border-radius: 10px;
    padding: 5px;
}

.brackets{
    background: url(../img/mission_select_frame.png) no-repeat;
    /* width: 100px; */
    padding: 10px;
    background-size: contain;
    background-position-x: 50%;
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
    &:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
}
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

//that universe - level system

.slot{
    i{
    padding: 20px;
    display: inline-block;
    background: url(../img/slot.png) no-repeat;
    background-size: contain;
    background-position: 50%;
    
    }
    
}

.rubber_stamp {
    opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
    font-family: 'Vollkorn', serif;
    font-size: 29px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ea0b0b;
    border: 7px solid #e20c00;
    float: left;
    padding: 10px 7px;
    border-radius: 10px;
    
    opacity: 0.8;
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    position:absolute;
    top:55%;
    right: 0;
  }
  .rubber_stamp::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: auto;
    min-height: 100%;
    top: -10px;
    left: -10px;
    padding: 10px;
    // background: url(https://raw.github.com/domenicosolazzo/css3/master/img/noise.png) repeat;
  }
  