html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

[class*='final-icon-'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-image: url(../img/icons_sprite.png);
  background-repeat: no-repeat; }

.final-icon-rightTriangle {
  background-position: 0px; }

.final-icon-setting {
  background-position: -20px; }

.final-icon-circles {
  background-position: -40px; }

.final-icon-leftTriangle {
  background-position: -60px; }

.final-icon-add {
  background-position: -80px; }

.row [class*="col-"] {
  display: inline-block; }
.row .col-1 {
  width: 8.3333333333%; }
.row .col-2 {
  width: 16.6666666667%; }
.row .col-3 {
  width: 25%; }
.row .col-4 {
  width: 33.3333333333%; }
.row .col-5 {
  width: 41.6666666667%; }
.row .col-6 {
  width: 50%; }
.row .col-7 {
  width: 58.3333333333%; }
.row .col-8 {
  width: 66.6666666667%; }
.row .col-9 {
  width: 75%; }
.row .col-10 {
  width: 83.3333333333%; }
.row .col-11 {
  width: 91.6666666667%; }
.row .col-12 {
  width: 100%; }

.flex-v-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.brackets {
  display: flex;
  align-items: center; }
  .brackets::before {
    content: '[';
    color: #ffb1bb;
    font-size: 20px;
    text-align: right;
    padding-right: 10px; }
  .brackets::after {
    content: ']';
    color: #ffb3bd;
    font-size: 20px;
    text-align: left;
    padding-left: 10px; }

.content {
  height: 100%;
  color: #fff; }
  .content .chapter {
    width: 100%;
    height: 100%;
    margin: 0 auto; }
    .content .chapter .header {
      height: 60px;
      text-align: right;
      color: #fff;
      padding: 20px; }
      .content .chapter .header div {
        margin: 0 40px; }
    .content .chapter .pageTitle {
      font-size: 24px;
      font-size: 1.5rem;
      color: #fff; }
    .content .chapter .setting {
      bottom: 2%;
      right: 2%; }
    .content .chapter .userCenter {
      bottom: 2%;
      left: 2%; }

.chaperGroup {
  height: 80%;
  width: 92%; }
  .chaperGroup .chaptereach {
    font-size: 16px;
    font-size: 1rem;
    width: 19.6%;
    height: 80%;
    background: url("../img/base.png") no-repeat; }
    .chaperGroup .chaptereach .cardContainer {
      perspective: 600;
      width: 100%;
      height: 100%; }

.flipper {
  cursor: pointer;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%; }
  .flipper p:first-child {
    padding-top: 25%; }
  .flipper .front {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2; }
    .flipper .front p {
      line-height: 20px; }
  .flipper .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg); }
  .flipper:hover {
    transform: rotateY(180deg); }

.icon-setting {
  cursor: pointer;
  background-image: url("../img/icon-setting.png");
  background-size: 100% 100%;
  width: 54px;
  height: 54px; }

.icon-user {
  cursor: pointer;
  width: 73px;
  height: 83px;
  background-image: url("../img/icon-user.png");
  background-size: 100% 100%; }

.icon-quit {
  margin: 25px 50px 0 50px;
  cursor: pointer;
  background-image: url(../img/quit.png);
  width: 54px;
  height: 54px;
  background-size: 100% 100%; }

.icon-tabs {
  background-image: url(../img/slotbg.png);
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  margin: 0 50px; }
  .icon-tabs i {
    margin: 25px auto;
    font-size: 24px;
    font-size: 1.5rem; }

.mission .qustion_area {
  margin: 5% auto 4% auto;
  width: 100%; }
  .mission .qustion_area [class*="teacher_icon_"] {
    vertical-align: top;
    height: max-content; }
  .mission .qustion_area .teacher_icon_0 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_0.png) no-repeat; }
  .mission .qustion_area .teacher_icon_1 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_1.png) no-repeat; }
  .mission .qustion_area .teacher_icon_2 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_2.png) no-repeat; }
  .mission .qustion_area .teacher_icon_3 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_3.png) no-repeat; }
  .mission .qustion_area .teacher_icon_4 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_4.png) no-repeat; }
  .mission .qustion_area .teacher_icon_5 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_5.png) no-repeat; }
  .mission .qustion_area .teacher_icon_6 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_6.png) no-repeat; }
  .mission .qustion_area .teacher_icon_7 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_7.png) no-repeat; }
  .mission .qustion_area .teacher_icon_8 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_8.png) no-repeat; }
  .mission .qustion_area .teacher_icon_9 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_9.png) no-repeat; }
  .mission .qustion_area .teacher_icon_10 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_10.png) no-repeat; }
  .mission .qustion_area .teacher_icon_11 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_11.png) no-repeat; }
  .mission .qustion_area .teacher_icon_12 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_12.png) no-repeat; }
  .mission .qustion_area .teacher_icon_13 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_13.png) no-repeat; }
  .mission .qustion_area .teacher_icon_14 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_14.png) no-repeat; }
  .mission .qustion_area .teacher_icon_15 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_15.png) no-repeat; }
  .mission .qustion_area .teacher_icon_16 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_16.png) no-repeat; }
  .mission .qustion_area .teacher_icon_17 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_17.png) no-repeat; }
  .mission .qustion_area .teacher_icon_18 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_18.png) no-repeat; }
  .mission .qustion_area .teacher_icon_19 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_19.png) no-repeat; }
  .mission .qustion_area .teacher_icon_20 i {
    width: 700px;
    height: 800px;
    transform: scale(0.3);
    transform-origin: 0 0;
    background: url(../img/teacher/teacher_20.png) no-repeat; }
.mission .question_content {
  background: url(../img/border.png) no-repeat;
  width: 783px;
  height: 354px;
  padding-top: 5%; }
  .mission .question_content .question_item {
    line-height: 50px;
    margin-left: 10%;
    text-align: left; }
.mission .answer_area {
  width: 783px;
  margin: 0 auto; }
  .mission .answer_area .choice_slot {
    cursor: pointer; }

.missionList {
  height: 100%; }
  .missionList .missionlistContainer {
    width: 50%;
    height: 100%;
    text-align: center; }
    .missionList .missionlistContainer h1 {
      font-size: 34px;
      font-size: 2.125rem; }
    .missionList .missionlistContainer .missionNum {
      margin: 20px; }
    .missionList .missionlistContainer .row {
      text-align: justify; }
      .missionList .missionlistContainer .row [class*="col-"] {
        cursor: pointer;
        border: 1px solid #fff;
        margin: 20px;
        text-align: center; }

.leaderboard {
  width: 50%;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%; }

.leadheader {
  width: 100%;
  height: 20px;
  border: 1px solid rgba(0, 168, 232, 0.79);
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding-top: 20px;
  padding: 10px 0; }

.colheader {
  width: 100%;
  margin-left: 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 40px; }
  .colheader h4 {
    font-size: 15px; }
  .colheader .time {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .colheader .rewards {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  vertical-align: center; }
  .users .name a {
    padding-top: 15px;
    vertical-align: middle; }
  .users img {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .users .rank {
    padding-left: 6px; }
  .users:last-child {
    border-radius: 0 0 5px 5px; }

.validContent {
  margin: 10% 0;
  height: 80%; }

.missionDone {
  background: url(../img/bg/background_0.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover; }
  .missionDone .bg {
    /* transform: scale(.8); */
    /* transform-origin: 0 0; */
    margin: 0 auto; }
  .missionDone .valid-content {
    height: 50%;
    width: 80%;
    font-size: 19px;
    font-size: 1.1875rem;
    padding: 40px 0 0 0; }
  .missionDone .points {
    font-size: 21px;
    font-size: 1.3125rem; }

.windowsOutline {
  background: url(../img/window.png) top center no-repeat;
  width: 60%;
  z-index: 2;
  height: 100%;
  background-size: contain; }
  .windowsOutline .title {
    font-size: 28px;
    font-size: 1.75rem;
    text-align: center;
    padding: 7% 0 4% 0;
    line-height: 90px; }

#match .show span.addstyle {
  background: #F96; }
#match .showLeft {
  vertical-align: top; }
#match .canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; }
#match .backcanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2; }

/* common */
html, body {
  height: 100%;
  font-family: 'Neuropol', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

body {
  background: url(../img/bg/background_0.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover; }

.abs {
  position: absolute !important; }

.rel {
  position: relative !important; }

.fixed {
  position: fixed !important; }

.alignC {
  text-align: center !important; }

.alignL {
  text-align: left !important; }

.alignR {
  text-align: right !important; }

.placeC {
  margin: 0 auto; }

.floatR {
  float: right; }

.floatL {
  float: left; }

.ib {
  display: inline-block !important; }

.pointer {
  cursor: pointer; }

/*# sourceMappingURL=common.css.map */
