<div class="chapter">
    <div class="header">
        <i>{{user.distance}}</i>
        <i class="ib icon distance space"></i>
        <i>{{user.stars}}</i>
        <i class="ib icon star"></i>          
    </div>
    <h2 class="pageTitle alignC">Chapters</h2>
    <div class="chaperGroup alignC">
        <div class="chaptereach rel ib alignC" ng-repeat="chapter in chapters">
            <div class="flipper">
                <div class="front">
                    <!-- front content -->
                    <div class="validContent flex-v-c" ng-click="enter($index,chapter.exerciseId)">
                        <p class="title">{{chapter.title}}</p>
                    </div>
                </div>
                <div class="back">
                    <!-- back content ranks-->
                    <div class="validContent flex-v-c" ng-click="enter($index,chapter.exerciseId)">
                        <p class=""><i class="ib icon star"></i> {{chapter.coins}}</p>
                        <p class=""><i class="ib icon clock"></i> {{chapter.timeLength}}</p>
                        <p>{{chapter.note}}</p>
                    </div>
                </div>
            </div>
            <div class="rubber_stamp" ng-show="chapter.finishFlag">Completed</div>
        </div>
    </div>
    <div class="setting abs">
        <i class="ib icon-setting" ng-click="gotoPage('setting')"></i>
        <p></p>
    </div>
    <div class="userCenter abs">
        <i class="ib icon-user" ng-click="gotoPage('user')"></i>
        <p></p>
    </div>
    <div class="leaderboard-cover" ng-controller="LeaderboardController" ng-show="show">
        <div class="leaderboard">
                <div class="abs factor-group">
                        <p class="factor pointer" ng-click="rankBy('time')">Time</p>
                        <p class="factor pointer" ng-click="rankBy('score')">Improve</p>
                    </div>
                <h2 class="leadheader">Leaderboard<i class="floatR pointer" ng-click="show=!show">x</i></h2>

                <div class="row colheader">
                    <div class="col-2">
                        <h4>#</h4>
                    </div>
                    <div class="col-6">
                        <h4>Name</h4>
                    </div>
                    <div class="col-3 rewards">
                        <h4 ng-click="onClickearn">Rewards</h4>
                    </div>
        
                </div>
                <div class="row users" ng-repeat="item in ranks">
                    <div class="col-2 rank">
                        <h4>{{$index}}</h4>
                    </div>
                    <div class="col-6 name row">
                        <img class="" ng-src='./img/user/{{item.name}}.png'/>
                        <span class="col-6">{{item.name}}</span>
                    </div>
                    <div class="col-3">
                        <h4>{{item.points}}</h4>
                    </div>
        
                </div>
        </div>
        

    </div>