<div class="mission" ng-repeat="mission in missionList" ng-show="!finishFlag" ng-if="$index==sequenceIndex">
    <div class="ib timer">
        <p class="time" ng-bind="time"></p>
    </div>
    <i class="ib floatR icon-quit" ng-click="quit()"></i>
    <h2 class="alignC missionNum">Mission{{$index+1}}</h2>

    <div class="qustion_area row rel">
        <div class="col-1"></div>
        <div class="col-2 teacher_icon_{{$index}} alignR" ng-class="">
            <i class="ib"></i>
            <div class="question_title"> please do relevant caculations :</div>
        </div>
        <!-- fill-in-blank -->
        <div class="question_content col-6 alignC" ng-if='mission.typeId == 0'>
            <div class="question_item row" ng-repeat="item in mission.content">
                <div class="col-6">{{item}}</div>
                <div class="col-5">
                    <div class="input"></div>
                    <input type="text" ng-model="userAnswer[$index]" class="hiddenInput">
                </div>
            </div>
            <div class="abs gicon next ib pointer" ng-click="nextFocus()"><i></i>
            </div>

        </div>
        <!-- olg pair up -->
        <!-- <div class="question_content col-6 alignC" id="match" ng-if='mission.typeId == 1'>
            please pair up
            <div class="question_item row" ng-repeat="item in mission.content">
                <div class="col-6 showLeft"><span>{{item}}</span></div>
                <div class="col-5 showRight"><span>{{mission.choices[$index]}}</span>
                </div>
            </div>
            <canvas id="demo1"></canvas>
        </div> -->

        <div class="question_content col-6 alignC rel demo" id="match" ng-if='mission.typeId == 1'>
            <div class="question_item row show">
                <div class="col-6 showLeft">
                    <span class="showItem leftItem" top='0' ng-class="{'addstyle':$index==mcMatch}" id="leftItem{{$index}}" ng-repeat="item in mission.content" ng-click="drawLine($index)">{{item}}</br>
                    </span>
                </div>
                <div class="col-5 showRight">
                    <span clss="showItem rightItem" id="rightItem{{$index}}" ng-repeat="item in mission.content" ng-click="drawLineend($index)">{{mission.choices[$index]}}</br>
                    </span>
                    </br>
                </div>
            </div>
            <canvas class="canvas" id="canvas1"></canvas>
            <!--连线画布-->
            <canvas class="backcanvas" id="canvas2"></canvas>
            <!--提示线画布-->
            <div class="" ng-click="clearline()">clear</div>
        </div>

        <!-- put in order -->
        <div class="question_content col-6 alignC" ng-if='mission.typeId == 3'>
            please put in order
            <div class="question_item row">
                <div class="col-{{mission.content.length-1}}" ng-repeat="item in mission.content" ng-click='putOrder($index)'>{{item}}</div>
                <div class="bottomLine" ng-bind="inOrder">{{inOrder}}</div>
            </div>
            <div ng-click='clearOrder()'>restart</div>
            <div></div>
        </div>
        <!-- mulitpleChoice  && q&a-->
        <div class="question_content col-6 alignC" ng-if='mission.typeId == 4'>
            please shot the answer
            <div class="question_item">
                <div class="">{{mission.content}}</div>
            </div>
            <!-- multiple choice -->
            <div class="choice_slot row"  ng-if="mission.typeId==4">
                <canvas id="multiC"></canvas>
                <div class="alignC col-{{mission.choices.length}}" ng-repeat="choice in mission.choices">
                    <span class="icon-tabs ib" id='tabs{{$index}}'>
                        <i class="ib" ng-class="{'Blazing':$index==mcAnswer}">{{choice}}</i>
                    </span>
                </div>
            </div>
        </div>

        <!-- catergorize -->
        <div class="question_content col-6 alignC" ng-if='mission.typeId == 5' ng-controller="DragDropCtrl">
            drag to the box
            <div class="question_item drag-content row" droppable>
                <!-- the items-->
                <div class="alignC drag-item" draggable id="item{{$index}}" item="$index" ng-repeat="item in mission.choices">
                    <i class="round-border">{{$index}}</i>
                </div>
            </div>
            <!-- the boxes -->
            <div class="dragboxs row">
                <div class="dragbox col-{{12/mission.content.length-1}} rel" ng-repeat="item in mission.content" drop="handleDrop" droppable
                    bin="bin" id="bin{{$index}}">
                    <span>{{item}}</span>
                </div>
            </div>

            <div ng-click="restart()"> restart</div>

        </div>

    </div>



    <div class="answer_area alignC">
        <!-- 纯数字 -->

        <div class="choice_slot row" ng-if='mission.typeId == 0'>
            <div class="ib col-1 pureNum" ng-repeat="item in getNumber(10) track by $index" ng-click="selectNum($index)">
                {{$index}}
            </div>
        </div>

        <div class="abs gicon go ib pointer" ng-click="nextMission($index)"><i></i></div>





    </div>

</div>


<div class="missionDone" ng-controller="MissionDoneController" ng-show="finishFlag">


    <div class="bg windowsOutline">
        <div class="title">Congratulations{{passFlag}}</div>
        <div class="valid-content flex-v-list placeC">
            <div class="row" ng-repeat='item in finalResult'>
                <div class="col-6 alignL">
                    <i class="icon_final_$index"></i>{{item.key}}</div>
                <div class="col-4 alignR points">{{item.value}}</div>
                <div class="col-1"></div>
            </div>
        </div>

    </div>
    <div class="floatL gicon-start">
        <i class="ib" ng-click="gotoPage('chapter')"></i>
    </div>
    <div class="floatR gicon-pause">
        <i class=" ib" ng-click="gotoPage('user')"></i>
    </div>


</div>